@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
h1{
    font-family: 'Lato', sans-serif;
}
.form{
    margin-left: 12%;
}
.form .box{
    padding: 30px;
}
.form .box label{
    padding: 0px 16px;
    font-size: large;
    font-weight: bold;
}
.box input,textarea{
    /* background: none; */
    width:60%;
    padding: 5px 10px;
    font-size: 20px;
    color: black;
}
.box textarea{
    padding: 0px ;
}
.box .notfile{
    padding-left: 19px;
}
.boxbtn{
    padding-left: 50px;
}
.boxbtn .btn{
    background-color: rgb(48 79 247);
    color: white;
    font-size: larger;
    padding: 15px;
    border-radius: 12px;
    
}